@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
html {
  font-size: 18px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Public Sans", sans-serif;
  background: white;
  color: #9698a6;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 16px;
  margin-top: 16px;
  color: #2d314d;
  font-weight: 300;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h4 {
  font-size: 1rem;
}

p {
  color: #9698a6;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
}

a:hover {
  border-bottom: 1px solid white;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  border: 0;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  color: #fff;
  border-radius: 20px;
  padding: 8px 30px;
  font-size: 0.7rem;
  margin-top: 10px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

img {
  width: 100%;
}

main {
  width: 100vw;
  overflow: hidden;
}

.container {
  position: relative;
  padding: 20px 150px;
  margin: auto;
  height: 100%;
}

.logo {
  cursor: pointer;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
}

.navbar .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .nav-items .nav-link {
  color: #9698a6;
  padding: 20px;
}

.navbar .nav-items :hover {
  border-bottom: 1px solid #9698a6;
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.navbar .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.showcase {
  position: relative;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.7fr 2fr;
      grid-template-columns: 1.7fr 2fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.showcase-img {
  position: relative;
  height: 100%;
}

.showcase-img svg {
  position: absolute;
  right: -350px;
  bottom: -90px;
}

.showcase-img .mockup {
  position: absolute;
  top: -80px;
  right: -70px;
  height: 840px;
  width: 700px;
}

.content {
  background: #f4f5f7;
  padding: 50px 0;
}

.content-top {
  padding: 40px 0 30px 0;
  width: 50%;
}

.content-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 25px;
}

.articles {
  background: #fafafa;
  padding: 50px 0;
}

.articles .grid {
  padding-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 25px;
}

.articles .grid .article {
  min-height: 300px;
  height: 100%;
  background: white;
  cursor: pointer;
}

.articles .grid .article .thumbnail {
  height: 200px;
}

.articles .grid .article .thumbnail img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.articles .grid .article .text {
  padding: 10px 20px;
}

.articles .grid .article .text span {
  font-size: 0.5rem;
}

footer {
  background: #2d314d;
  height: 170px;
}

footer .grid-footer {
  padding: 24px 0;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr 4fr;
      grid-template-columns: 2fr 1fr 1fr 4fr;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .grid-footer .logos-box,
footer .grid-footer .links-box1,
footer .grid-footer .links-box2,
footer .grid-footer .copyright-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .grid-footer .logos-box {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .grid-footer .logos-box .social > svg {
  margin-right: 10px;
  cursor: pointer;
}

footer .grid-footer .copyright-box {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .grid-footer .copyright-box p,
footer .grid-footer .copyright-box .btn {
  margin: 0;
}
